@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }

h1, h2 {
  font-family: "Covered By Your Grace", cursive; }

p {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: lighter;
  color: #595959; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.project {
  background-color: black; }

header {
  background: black;
  height: 50px;
  text-transform: lowercase;
  position: fixed;
  width: 100%; }
  header a {
    color: white;
    text-decoration: none; }
    header a:hover {
      opacity: .8; }
  header h1 {
    font-family: "Montserrat", sans-serif;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px; }
  header nav {
    float: right;
    margin-top: 15px; }
    header nav a {
      margin-right: 20px; }
      header nav a:last-child {
        margin-right: 0; }

.banner-background {
  background-color: #faf7f2; }

.banner {
  background-image: url(../assets/megan-coyle-portrait.jpg);
  background-repeat: no-repeat;
  height: 600px; }

.banner-text {
  margin-left: 40%; }
  .banner-text h1, .banner-text h2 {
    text-align: left;
    margin-top: 0; }
  .banner-text h1 {
    padding-top: 5em;
    font-size: 50px;
    margin-bottom: 0; }
  .banner-text h2 {
    font-size: 30px;
    font-weight: lighter; }

.btn {
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0.5em;
  outline: medium none;
  padding: 0.5em 0.6em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  color: black; }
  .btn:hover {
    background: #029de5;
    border: 1px solid #029de5;
    color: white; }

.icon {
  width: 150px;
  padding-bottom: 4em;
  -webkit-animation-name: pulse;
  animation-name: pulse; }

.center {
  text-align: center; }

.solid {
  background-color: #029de5; }
  .solid h2 {
    color: white;
    font-size: 4em;
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 0px; }

.text {
  padding-top: 4em;
  padding-bottom: 4em; }
  .text a {
    text-decoration: none; }
  .text h3 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-top: 0; }
  .text h4 {
    font-size: 1.5em;
    padding-top: 20px; }

.project {
  background-color: #595959;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center; }
  .project h3 {
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    margin-top: 0;
    margin-bottom: 0; }
  .project img {
    display: block;
    width: 450px; }

#web li {
  background: #029de5;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  list-style: none;
  margin: 10px;
  border: 3px solid white; }
  #web li p {
    color: white;
    font-size: 1em; }

.resume-list {
  -webkit-columns: 110px 3;
  -moz-columns: 110px 3;
  columns: 110px 3;
  list-style: none; }
  .resume-list li {
    line-height: 1.5; }

ul.resume-list {
  margin-left: 0;
  font-size: 1em;
  color: #595959; }

.fa {
  padding-right: 10px; }

footer {
  background: black;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center; }

.social {
  width: 50px;
  padding: 10px; }
  .social:hover {
    opacity: .8; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/*# sourceMappingURL=style.css.map */
