// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

@import
url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Font Variables
$covered-your-grace: 'Covered By Your Grace', cursive;
$montserrat: 'Montserrat', sans-serif;

// Width Variables
$desktop-width: 1000px;

// Color Variables
$light-color: white;
$dark-color: black;
$gray-color: #595959;
$accent-color: #029de5;
$accent-lighter: #81d6fe;
$accent-darker: #0279b1;

//Styles
body {
  margin: 0 auto;
  font-family: $montserrat;
}
h1, h2 {
  font-family: $covered-your-grace;
}
p {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: lighter;
    color: $gray-color;
}

.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
}
.project {
  background-color: $dark-color;
}

header {
  background: $dark-color;
  height: 50px;
  text-transform: lowercase;
  position: fixed;
  width: 100%;
  a {
    color: $light-color;
    text-decoration: none;
    &:hover {
      opacity: .8;
    }
  }
  h1 {
    font-family: $montserrat;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  nav {
    float: right;
    margin-top: 15px;
    a {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.banner-background {
  background-color: #faf7f2;
}
.banner {
  background-image: url(../assets/megan-coyle-portrait.jpg);
  background-repeat: no-repeat;
  height: 600px;
}
.banner-text {
  margin-left: 40%;
  h1, h2 {
    text-align: left;
    margin-top: 0;
  }
  h1 {
    padding-top: 5em;
    font-size: 50px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 30px;
    font-weight: lighter;
  }
}

.btn {
    border: 1px solid $dark-color;
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 0.5em;
    outline: medium none;
    padding: 0.5em 0.6em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    transition: all 0.2s ease 0s;
    vertical-align: middle;
	  color: $dark-color;
    &:hover {
      background: $accent-color;
  	  border: 1px solid $accent-color;
  	  color: $light-color;
    }
}
.icon {
  width: 150px;
  padding-bottom: 4em;
}
.center {
  text-align: center;
}
.solid {
  background-color: $accent-color;
  h2 {
    color: $light-color;
    font-size: 4em;
    margin-top: 0;
    padding-top: 60px;
    margin-bottom: 0px;
  }
}


.text {
  padding-top: 4em;
  padding-bottom: 4em;
  a {
    text-decoration: none;
  }
  h3 {
    font-family: $covered-your-grace;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
  }
  h4 {
    font-size: 1.5em;
    padding-top: 20px;
  }
}
.project {
  background-color: $gray-color;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  h3 {
    color: $light-color;
    font-size: 3em;
    text-align: center;
    font-family: $covered-your-grace;
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    display: block;
    width: 450px;
  }
}
#web {
  li {
    background: $accent-color;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    list-style: none;
    margin: 10px;
    border: 3px solid $light-color;
    p {
      color: $light-color;
      font-size: 1em;
    }
  }
}
.resume-list {
    -webkit-columns: 110px 3;
    -moz-columns: 110px 3;
    columns: 110px 3;
	list-style: none;
  li {
    line-height: 1.5;
  }
}
ul.resume-list {
	margin-left: 0;
  font-size: 1em;
  color: $gray-color;
	}
.fa {
    padding-right: 10px;
}
footer {
  background: $dark-color;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.social {
    width: 50px;
    padding: 10px;
    &:hover {
      opacity: .8;
    }
}
